@font-face {
    font-family: 'Quattrocento_Sans';
    src: url('./fonts/Quattrocento_Sans/QuattrocentoSans-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

* {
    font-family: 'Quattrocento_Sans', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* Dark Mode Theme build base */
:root.dark {
    --base-background-color: rgb(23, 23, 23);
    --base-color: rgb(240, 255, 255);
    --border-btn: 1px solid rgb(220, 220, 220);
    --color-btn-bg: rgb(36, 36, 36);
    --headings-color: rgb(63, 63, 70);
    --tables-border: 1px solid rgb(237, 233, 254);
}

/* Light Mode build base */
:root.light {
    --base-background-color: rgb(240, 255, 255);
    --base-color: rgb(23, 23, 23);
    --border-btn: 1px solid rgb(36, 36, 36);
    --color-btn-bg: rgb(220, 220, 220);
    --headings-color: rgb(43, 43, 44);
    --tables-border: 1px solid hsl(240, 6%, 10%);
}

/* Application header */
header {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--base-background-color);
    color: var(--base-color);
    min-width: 500px;
    border-bottom: var(--border-btn);
    border-top: var(--border-btn);
}

.theme-toggle {
    background-color: var(--color-btn-bg);
    color: var(--base-color);
    border: var(--border-btn);
    font-size: 1.125rem;
    padding: 10px 20px;
    margin-right: 3rem;
}

header h1 {
    margin-left: 3rem;
}

.projects-heading,
.tasks-heading {
    background-color: var(--base-background-color);
    color: var(--base-color);
    padding-top: 10px;
}

.head-cage {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 500px;
    gap: 1.25rem;
    padding-left: 6rem;
}

.project-icon,
.task-icon {
    width: 42px;
    height: 42px;
}

.projects-nav, 
.tasks-nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    height: 60px;
}

.projects-nav button, 
.tasks-nav button {
    font-size: 1.4rem;
    width: 110px;
    height: 30px;
    font-weight: bold;
}

.projects-nav button:nth-of-type(1),
.projects-nav button:nth-of-type(2), 
.projects-nav button:nth-of-type(3), 
.tasks-nav button:nth-of-type(1),
.tasks-nav button:nth-of-type(2),
.tasks-nav button:nth-of-type(3) {
    border: none;
    color: var(--headings-color);
    background-color: var(--base-background-color);
    font-weight: 600;
}

.new-task, 
.new-project {
    margin-left: auto;
    border: none;
    background-color: rgb(0, 0, 255);
    color: azure;
    border-radius: 5px;
}

/* Project and Tasks shared */
.my-projects,
.my-tasks {
    background-color: var(--base-background-color);
    min-height: calc(100vh - 210px);
    display: flex;
    flex-direction: column;
    padding-bottom: 1.2rem;
}
.my-projects table,
.my-tasks table {
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    border-bottom: var(--tables-border);
    border-top: var(--tables-border);
}

thead {
    background-color: var(--base-background-color);
    color: var(--headings-color);
    font-family: helvetica, arial, sans-serif;
}

thead th {
    font-size: 1.35rem;
    font-weight: bold;
}

th, td {
    padding: 15px;
    letter-spacing: 2px;
}

tbody td {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--base-color);
    background-color: var(--base-background-color);
}

tbody tr {
    height: 30px;
}

thead th, 
tbody td {
    border: var(--tables-border);
}

/* Project styles */
.my-projects thead th:nth-child(1) {
    width: 30%;
}

.my-projects thead th:nth-child(2) {
    width: 10%;
}

.my-projects thead th:nth-child(3) {
    width: 20%;
}

.my-projects thead th:nth-child(4) {
    width: 30%;
}

.my-projects thead th:nth-child(5) {
    width: 10%;
}


/* Task Styles */
.my-tasks thead th:nth-child(1) {
    width: 24%;
}

.my-tasks thead th:nth-child(2) {
    width: 12%;
}

.my-tasks thead th:nth-child(3) {
    width: 15%;
}

.my-tasks thead th:nth-child(4) {
    width: 15%;
}

.my-tasks thead th:nth-child(5) {
    width: 10%;
}

.my-tasks thead th:nth-child(6) {
    width: 24%;
}

/* Active tabs in project and tasks */
#active {
    color: var(--base-color);
    border-bottom: 2px solid var(--base-color);
    padding-bottom: 5px;
}